body {
	font-family : verdana,helvetica,arial,sans-serif;
	font-style : normal;
	background-color : #ffffff;
}

td,p,address {
	font-family : verdana,helvetica,arial,sans-serif;
}

h1,h2,h3,h4,h5 {
	font-family : verdana,helvetica,arial,sans-serif;
	font-weight : bold;
	color : #999999;
}

tt,pre,code  {
	font-family : Fixed,Courier,Clean,monospace;
	font-size : small;
}

pre {
	background-color : #cccccc;
}

#logo, #slogan {
	text-align: center;
}

#logo {
   margin-top: 25px;
   margin-bottom: 0px;
}

#slogan {
   margin-top: 0px;
}

td.navbar {
	background : #05CDFF;
}

div.navmenu {
	margin-left: 16px;
	text-indent: -8px;
	font-size : small;
}

div.navheading {
	margin-top : 15px;
	margin-bottom: 10px;
	font-size : large;
}

td.newstitle {
	color : #0099ff;
}

td.newsbody {
	margin-left : 2em;
}

.hide {
	display : none;
}
